flask
python-dotenv
SQLAlchemy
psycopg2-binary
python-telegram-bot
stripe
transformers
huggingface-hub
facenet-pytorch
opencv-python
torch
tensorflow
tf-keras
requests
groq
fer
sqlalchemy
asyncpg
psycopg2-binary
python-dotenv
greenlet
pymongo
gunicorn