flask
python-dotenv
SQLAlchemy
psycopg2-binary
python-telegram-bot
stripe
transformers
facenet-pytorch
opencv-python
torch
tf-keras
requests
groq
fer
sqlalchemy
asyncpg
psycopg2-binary
greenlet
pymongo